*.class

# Package Files #
*.war
*.ear
/was-maven-plugin.iml
/target
/.idea
/ssl
/scripts
/src/it/multi-targets/target
/pom.xml.tag
/pom.xml.next
/release.properties
/pom.xml.releaseBackup

.project
.classpath
*versionsBackup
*/*versionsBackup

*/.settings/
*/.idea/
*/.gradle/
*/.svn/
*/target/
*/build/
*/bin/
*/classes/

.settings/
.idea/
.gradle/
.svn/
target/
build/
bin/
classes/